@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";
@theme {
  --color-primary: #355f92;
  --color-secondary: #1f3755;
  --color-neutral: #f9f7f7;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", "sans-serif";
}

.font-poppins {
  font-family: "Poppins", "sans-serif";
}

.ant-menu-submenu-selected > .ant-menu-submenu-title .ant-menu-title-content,
.ant-menu-submenu-selected > .ant-menu-submenu-title .ant-menu-submenu-arrow {
  @apply text-primary transition-none;
}

.ant-menu-item-only-child .ant-menu-title-content {
  @apply transition-none;
}

.ant-menu-submenu-selected
  .ant-menu-submenu-title:hover
  .ant-menu-title-content,
.ant-menu-submenu-selected
  .ant-menu-submenu-title:hover
  .ant-menu-submenu-arrow {
  @apply text-white transition-none;
}

.ant-menu-submenu .ant-menu-submenu-title:hover .ant-menu-title-content,
.ant-menu-submenu .ant-menu-submenu-title:hover .ant-menu-submenu-arrow {
  @apply text-white transition-none;
}
.ant-table-wrapper .ant-table-thead > tr > th {
  @apply bg-[#C8DAD6];
}

/* .ant-table-thead > tr > th.ant-table-cell-scrollbar {
  display: none !important;
} */
